@use '../../core/css/colors.component' as colors;

#main-page-container {
    
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    gap: 8px;

    #main-page-section-1{
        background-color: #A080D0;
    }

    #main-page-section-2{
        background-color: #F9F9F9;
    }
}

