@media screen and (max-width: 1000px) {
  #desktop-menu {
    display: none;
  }

  #mobile-menu {
    display: block;
  }
}

@media screen and (min-width: 1001px) {
  #desktop-menu {
    display: block;
  }

  #mobile-menu {
    display: none;
  }
}