<div id="cart-container">
    <h1>Seu Carrinho</h1>

    <div id="cart-items">
        @for (item of cart; track item.id) {
        <mat-card class="cart-item" appearance="outlined">
            <mat-card-content class="cart-item__content">

                <div class="cart-item__image-wrapper">
                    <img [ngSrc]="item.imageUrl" width="712" height="1000" alt="{{ 'Capa do livro ' + item.title }}"
                        class="cart-item__image" />
                </div>

                <div class="cart-item__details">
                    <h2 class="title">{{ item.title }}</h2>
                    <p class="author">{{ item.author }}</p>
                    <span class="price">
                        {{ item.quantity }} x {{ item.price | currency }}
                    </span>

                    <div class="actions">
                        <div class="actions__quantity">
                            <mat-form-field appearance="outline">
                                <mat-label>Quantidade</mat-label>
                                <input style="text-align: center" type="number" matInput [value]="item.quantity"
                                    disabled="true">

                                <button matPrefix mat-icon-button (click)="removeQuantity(1, item.id)"
                                    [disabled]="item.quantity < 2">
                                    <mat-icon fontIcon="exposure_neg_1"></mat-icon>
                                </button>

                                <button matSuffix mat-icon-button (click)="addQuantity(1, item.id)"
                                    [disabled]="item.quantity > 98">
                                    <mat-icon fontIcon="plus_one"></mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <button mat-button class="btn-remove" (click)="removeItem(item.id)">
                            Remover
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        } @empty {
        <div class="cart-empty">
            <p>Seu carrinho está vazio.</p>
        </div>
        }
    </div>
    @if (cart.length > 0) {
    <mat-card appearance="outlined">
        <mat-card-content class="finalize-purchase-container">
            <span class="total-price">
                Valor Total: {{ totalValue | currency }}
            </span>
            <button mat-flat-button color="primary">Finalizar Compra</button>
        </mat-card-content>
    </mat-card>
    }
</div>