#id-container {

    img {
        display: block;
        margin: auto;
    }
}

p {
    color: #ffffff;
    margin: 20px 50px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}