<div id="id-container">
    <img ngSrc="/logo.png" height="280" width="500">
    <p>
        Sobre a "Pilgrim's Pages": Sua Parada Obrigatória no Ermo Literário
        Bem-vindo(a) à Pilgrim's Pages, a livraria mais... peculiar (e talvez a única) que você encontrará nos confins
        poeirentos deste planeta. Esqueça as estantes empoeiradas e o silêncio sepulcral. Aqui, a leitura é uma aventura
        tão caótica e recompensadora quanto caçar Vault Hunters ou enfrentar um Psychopath sedento por sangue.
    </p>
    <p>
        Nascemos da mente insana (no bom sentido, claro!) de um antigo buscador de conhecimento que trocou os perigos
        dos ermos pela organização (relativa) de tomos e pergaminhos. Cansado de encontrar apenas armas enferrujadas e
        munição duvidosa em suas expedições, ele decidiu criar um oásis para aqueles que valorizam uma boa história
        tanto quanto um lança-foguetes bem calibrado.
    </p>
    <p>
        Na Pilgrim's Pages, você não encontrará apenas livros. Mergulhe em manuais de sobrevivência pós-apocalíptica,
        guias ilustrados de criaturas mutantes, romances pulp perdidos nas areias do tempo, histórias heróicas de Vault
        Hunters lendários e até mesmo algumas poesias estranhamente inspiradoras rabiscadas por bandidos arrependidos
        (ou talvez não).
    </p>
    <p>
        Nossas prateleiras são um reflexo do mundo ao nosso redor: improvisadas, robustas e repletas de itens
        inesperados. Não se assuste se encontrar uma granada adesiva perdida entre os contos de ficção científica ou um
        boneco de Claptrap observando atentamente a seção de história antiga. Faz parte do charme (ou da insanidade,
        você decide).
    </p>
    <p>
        Nossa equipe? Bem, somos um grupo eclético de entusiastas da leitura que sobreviveram a mais tiroteios do que
        gostariam de admitir. Podemos não ter diplomas de biblioteconomia, mas garantimos que conhecemos cada livro em
        nossas prateleiras (e provavelmente podemos te dar algumas dicas de como usá-los como escudo em uma emergência).
    </p>
    <p>
        Então, se você está cansado de pilhar e quer pilhar algum conhecimento, ou se simplesmente aprecia o cheiro de
        papel velho misturado com a pólvora no ar, a Pilgrim's Pages é o seu destino. Entre, fique à vontade (mas
        cuidado onde pisa) e encontre sua próxima grande aventura entre nossas páginas.
    </p>
    <p>
        Prepare-se para uma experiência de leitura... explosiva!
    </p>
</div>