#main-container {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;

    #area-menu{
        float: left;
        position: fixed;
        top: 10px;
        left: 0px;
        width: 90%;
        margin-left: 5%;
    }
}


