#aside-container{
    margin-top: 30vh;
    margin-left: 25%;
    margin-right: 25%;
    color: #ffffff;

    h2, p {
        margin-bottom: 3%;
    }

    button {
        margin-top: 10%;
        width: 10vw;
        color: #ffffff;
        border-color: #ffffff;
        font-size: 1rem;
        min-width: 100px;
    }
}