#aside-container{
    margin-top: 30vh;
    margin-left: 10%;
    color: #ffffff;

    h2, p {
        margin-bottom: 3%;
    }

    button {
        margin-top: 10%;
        width: 200px;
        color: #ffffff;
        border-color: #ffffff;
    }
}